<%= simple_form_for(@provider) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :author %>
    <%= f.input :specialty %>
    <%= f.input :website %>
    <%= f.input :email %>
    <%= f.input :telephone %>
    <%= f.input :description %>
    <%= f.input :content %>
    <%= f.input :category %>
    <%= f.input :tenant, :as => "hidden" %>
    <%= label_tag "Related tenant(s)" %>
    <%= select_tag("tenant_fake", options_from_collection_for_select(@tenants, "id", "name"), :include_blank => true) %>
    <%= f.input :sector %>
    <%= f.input :tag %>
    <%= f.input :publish %> 
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
