<%= simple_nested_form_for(@tenant, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :website %>
    <%= f.input :content_title %>
    <%= f.input :content %>
    <%= f.input :subcontent_title %>
    <%= f.input :subcontent %>
    <!--<%= f.input :description %>-->
    <%= f.simple_fields_for :news_photos do |p| %>
      <%= p.input :image %>
      <%= p.input :caption, :label => "Label <span class='smalltxt'>(Use \"main\" for main photo display)</span>" %>
      <% if controller.action_name == "edit" %>
        <div class="preview">
          <div class="preview_image">
            <%= image_tag(p.object.image(:thumb)) %>
            <%= p.link_to_remove "Delete" %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= f.link_to_add "<i class='icon-plus'></i> Add Photo".html_safe, :news_photos, :class => "btn btn-mini", :style => "margin: 10px 0" %>
    <div class="vspacer20"></div>
    <%= f.input :facebook_link %>
    <%= f.input :twitter_link %>
    <%= f.input :sector %>
    <%= f.input :active %>
    <%= f.input :featured %>
    <div class="clear vspacer20"></div>
    <div class="lightline"></div>
    <h2>Statistics</h2>
    <%= f.simple_fields_for :tenant_stats do |s| %>
      <%= s.input :name %>
      <%= s.input :value %>
      <%= s.input :is_dollar_value, :label => "Is this a dollar value?" %>
      <div class="clear"></div>
      <!--<%= s.input :description, :as => "string" %>-->
      <%= s.input :publish %>
      <div class="clear"></div>
      <%= s.link_to_remove "Remove this Statistic" %>
      <div class="line"></div>
      <div class="vspacer20"></div>
    <% end %>
    <div class="clear vspacer20"></div>
    <%= f.link_to_add "<i class='icon-plus'></i> Add Statistic".html_safe, :tenant_stats, :class => "btn btn-mini", :style => "margin: 10px 0" %>
    <div class="clear vspacer20"></div>
    <h3>Resume Submission opt-in</h3>
    <%= select_tag("resume_prefs_select", options_from_collection_for_select(@prefs, "value", "name"), :prompt => "Select Specialties") %>
    
    <%= f.input :resume_prefs, as: "string", label: "Selected:" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
