<p id="notice"><%= notice %></p>

<p>
  <b>Headline:</b>
  <%= @announcement.headline %>
</p>

<p>
  <b>Content:</b>
  <%= @announcement.content %>
</p>

<p>
  <b>Url:</b>
  <%= @announcement.url %>
</p>


<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
