= render :partial => "layouts/internal_header"
.content
  .contact.admin_contact
    .cols
      = render :partial => "layouts/maincols/admin_nav_col"
      .contactMain.col
        .heading
          .panel
            %h2
              Contact
        .address_contact_and_image
          .contactForm
            .panel
              = simple_form_for @message, :url => admin_email_form_path do |f|
                = label_tag "Select Contact"
                = select_tag("select_contact", "<option value='acre@thepublicsociety.com'>The Public Society</option>"+options_from_collection_for_select(@tenants, "email", "name"), :include_blank => true)
                = label_tag "From"
                = text_field_tag "from"
                = f.input :email, :label => "To"
                = label_tag "Subject"
                = text_field_tag "subject"
                = f.input :body, :as => "text", :label => "Message"
                = f.button :submit, "Submit"
                .clear
          .address_and_image
            .contact_image
              .panel
                = image_tag(Snippet.find(5).snippet_image.url)
            .address
              .panel
                %address
                  %h2
                    NYC ACRE
                  .streetAddress
                    137 Varick St, 2nd Floor
                    %br
                    New York, NY 10013
                    %br
                    Phone: (212) 292-3123
                  .email
                    = link_to "info@nycacre.com", "mailto:info@nycacre.com"
                  .see_map
                    = link_to "see map &raquo;".html_safe, "/map", :class => "more"
      .events_and_updates.col
        .events
          .panel
            %h2
              Upcoming
            .cal_link
              = link_to "full calendar &raquo;".html_safe, administration_calendar_path, :class => "more"
            .events_key
              %ul.unstyled
                %li.acre_events
                  .circle
                    %a{:href => "#", :data => {:event_type => "event"}}
                  .key
                    ACRE events
                %li.funding_and_grants
                  .circle
                    %a{:href => "#", :data => {:event_type => "grant"}}
                  .key
                    Funding & Grants
                %li.your_calendar
                  .circle
                    %a{:href => "#", :data => {:event_type => "google"}}
                  .key
                    Your Calendar
            .events_list
              - if @token.blank?
                = link_to "Authorize Google Calendar", "/auth/google_oauth2"
              %ul.unstyled
                - @uevents.each do |e|
                  %li{:class => "#{e.origin} #{e.saved?(@user) ? "saved" : ""}"}
                    .event_type
                    .event_link
                      - if e.origin == "event"
                        = link_to word_truncate(e.name, :words => 5).html_safe, "/events/#{e.id}", 'data-event-id' => e.id
                      - elsif e.origin == "grant"
                        = link_to word_truncate(e.name, :words => 5).html_safe, "/grants/#{e.id}", 'data-event-id' => e.id
                      - elsif e.origin == "acregoogle"
                        = link_to word_truncate(e.name, :words => 5).html_safe, "/event/#{e.id}", 'data-event-id' => e.id
                      - else
                        = link_to word_truncate(e.name, :words => 5).html_safe, e.google_link, :target => "_blank"
                    .event_times
                      = e.event_start.strftime("%m-%d-%y")
                      \/
                      = e.event_start.strftime("%l:%M%p")
                      \-
                      = e.event_end.strftime("%l:%M%p")
              
        .updates
          .panel
            %h2
              Internal Updates
            %ul.unstyled.fbfeed
              - @feed.each do |f|
                %li
                  .feed_story
                    = f["message"].html_safe unless f["message"].blank?
                    = f["name"].html_safe unless f["name"].blank?
                    = f["link"].html_safe unless f["link"].blank?
                  .feed_time
                    \-
                    = time_ago_in_words(f["created_time"])
                    ago via Facebook
            = link_to "more updates &raquo;".html_safe, "https://www.facebook.com/groups/116539501741873/", :target => "_blank", :class => "more"
