<h1>Listing contact_specialty_options</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contact_specialty_options.each do |contact_specialty_option| %>
  <tr>
    <td><%= contact_specialty_option.name %></td>
    <td><%= contact_specialty_option.value %></td>
    <td><%= link_to 'Show', contact_specialty_option %></td>
    <td><%= link_to 'Edit', edit_contact_specialty_option_path(contact_specialty_option) %></td>
    <td><%= link_to 'Destroy', contact_specialty_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact specialty option', new_contact_specialty_option_path %>
