<h1>Listing statements</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Publish</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statements.each do |statement| %>
  <tr>
    <td><%= statement.title %></td>
    <td><%= statement.content %></td>
    <td><%= statement.publish %></td>
    <td><%= link_to 'Show', statement %></td>
    <td><%= link_to 'Edit', edit_statement_path(statement) %></td>
    <td><%= link_to 'Destroy', statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Statement', new_statement_path %>
