<%= render :partial => "layouts/cms_header" %>
<div class="content">
<h1>Listing events</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Start</th>
    <th>End</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= truncate(strip_tags(event.content), :length => 100).html_safe unless event.content.blank? %></td>
    <td><%= event.eventdate.strftime("%m-%d-%y %l:%M%p") unless event.eventdate.blank? %></td>
    <td><%= event.eventenddate.strftime("%m-%d-%y %l:%M%p") unless event.eventenddate.blank? %></td>
    <td><%= event.address_line_one %><br><%= event.address_line_two %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<i class="icon-time"></i> New Event'.html_safe, new_event_path, :class => "btn btn-mini" %>
</div>