<h1>Listing provider_specialty_options</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @provider_specialty_options.each do |provider_specialty_option| %>
  <tr>
    <td><%= provider_specialty_option.name %></td>
    <td><%= provider_specialty_option.value %></td>
    <td><%= link_to 'Show', provider_specialty_option %></td>
    <td><%= link_to 'Edit', edit_provider_specialty_option_path(provider_specialty_option) %></td>
    <td><%= link_to 'Destroy', provider_specialty_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Provider specialty option', new_provider_specialty_option_path %>
