- @news.each do |n|
  %li.news_list_li{data: {link: "/news/#{URI.encode(n.title)}"}}
    .news_headline
      %h3
        = link_to n.title, "/news/#{n.title.gsub(" ", "%20")}"
    .news_subheading
      = n.subheading unless n.category == "newsletter"
    .news_excerpt
      = smart_truncate(n.category == "newsletter" ? "<p>#{n.subheading}</p>" : n.content, "/news/#{n.title.gsub(" ", "%20")}", :words => 40).html_safe
.paging
  = will_paginate(@news)
:javascript
  $(".news_list_li").click(function(e){
  	var link = $(this).data("link");
  	window.location.href = link;
  });