= render :partial => "layouts/header"
.content
  .tenant
    .cols
      = render :partial => "layouts/maincols/nav_col"
      .about.col
        .heading
          .panel
            %h2
              About
              = @tenant.name
        - unless @tenant.news_photos.where("caption=?", "main").blank?
          .tenant_image
            .panel
              = link_to(image_tag(@tenant.news_photos.where("caption=?", "main").first.image(:main)), "http://#{@tenant.website}", :target => "_blank")
        .mainabout
          .panel
            - unless @tenant.content_title.blank?
              %h2
                = @tenant.content_title
            .tenant_content
              = @tenant.content.html_safe
            .tenant_subcontent
              - unless @tenant.subcontent_title.blank?
                %h2
                  = @tenant.subcontent_title unless @tenant.subcontent_title.blank?
              = @tenant.subcontent.html_safe
        -#
          - unless @tenant.tenant_stats.where("publish=?", true).empty?
        - unless @tenant.news_photos.where("caption=?", "stats").blank?
          .subtenant
            .panel
              .tenant_numbers#stats
                .acre-stat-image
                  = image_tag(@tenant.news_photos.where("caption=?", "stats").first.image)
                -#
                  - @tenant.tenant_stats.where("publish=?", true).each do |s|
                    .statistic
                      .statistic_value
                        - if s.is_dollar_value?
                          %span.dollarsign
                            $
                        = s.value
                      .statistic_name
                        = s.name
        .acre_advisors
          .panel
            %h2
              ACRE Advisors
            %ul.unstyled
              - @advisors.each do |a|
                %li.advisor
                  .photo
                    = image_tag(a.advisor_photo.url)
                  .info
                    .name
                      = a.name
                    .description
                      = a.description
        .acre_sponsors
          .panel
            %h2
              Acre Sponsors
            %ul.unstyled
              %li.nycedc
                = link_to "", "http://www.nycedc.com/", :target => "_blank"
              %li.nyserda
                = link_to "", "http://www.nyserda.ny.gov/", :target => "_blank"
              %li.nyupoly
                = link_to "", "http://www.poly.edu/", :target => "_blank"
              %li.nationalgrid
                = link_to "", "https://www1.nationalgridus.com/NewYork", :target => "_blank"
        .acre_news_and_twitter
          .acre_news
            .panel
              %h2
                ACRE News
              %ul.unstyled
                - @news.each do |n|
                  %li.acre_news_li{data: {link: "/news/#{URI.encode(n.title)}"}}
                    = link_to n.title, "/news/#{URI.encode(n.title)}"
                    .subh.light
                      = n.subheading
              .more
                = link_to "see all articles &raquo;".html_safe, news_path
          .twitter
            .panel
              %h2
                ACRE On Twitter
              .twitter_link
                = link_to "@nycacre", "https://twitter.com/nycacre", :target => "_blank"
              .twitter_list
                %ul.unstyled
                  - if @tweets.class == Array
                    - @tweets.each do |t|
                      %li
                        .tweet_text
                          = t.text.blank? ? "Error parsing Twitter feed" : t.text
                        .tweet_date
                          \-
                          = time_ago_in_words(t.created_at) unless t.created_at.blank?
                          - unless t.created_at.blank?
                            ago via Twitter
                  - else
                    %li
                      .tweet_text
                        Error parsing Twitter feed
                = link_to "more tweets &raquo;".html_safe, "https://twitter.com/nycacre", :target => "_blank", :class => "more"
      .events_and_stuff.col
        .acre_tenants
          .panel
            %h2
              ACRE Tenants
            .acre_tenants_blurb
              = Snippet.find(1).content.html_safe
            %ul.unstyled.tenant_list
              - @tenants.each do |t|
                %li
                  = link_to t.name, "/about/#{t.name.gsub(" ", "%20")}"
        .acre_graduates
          .panel
            %h2
              ACRE Graduates
            .acre_graduates_blurb
              = Snippet.find(2).content.html_safe
            %ul.unstyled.graduate_list
              - @graduates.each do |g|
                %li
                  = link_to g.name, "/graduate/#{g.name.gsub(" ", "%20")}"
        .upcoming
          .panel
            %h2
              Upcoming
            .cal_link
              = link_to "full calendar &raquo;".html_safe, calendar_path, :class => "more"
            .events_list
              %ul.unstyled
                - @events.each do |e|
                  %li
                    .event_link
                      - if e.origin == "event"
                        = link_to word_truncate(e.name, :words => 5).html_safe, "/calendar/events/#{e.id}", 'data-event-id' => e.id
                      - elsif e.origin == "grant"
                        = link_to word_truncate(e.name, :words => 5).html_safe, "/calendar/grants/#{e.id}", 'data-event-id' => e.id
                      - else
                        = link_to word_truncate(e.name, :words => 5).html_safe, "/calendar/event/#{e.id}", 'data-event-id' => e.id
                    .event_times
                      = e.eventdate.strftime("%m-%d-%y")
                      \/
                      = e.eventdate.strftime("%l:%M%p")
                      \-
                      = e.eventenddate.strftime("%l:%M%p")
:javascript
  $(".acre_news_li").click(function(e){
  	var link = $(this).data("link");
  	window.location.href = link;
  });