= render :partial => "layouts/internal_header"
.content
  .resources
    .cols
      = render :partial => "layouts/maincols/admin_nav_col"
      .resourcesMain.col
        .heading
          .panel
            %h2
              Resources
        .single_resource_display
          .single_resource_display_contents
            .panel
              .heading
                %h2
                  - unless @resourcetype == "article"
                    = @resource.name
                  - else
                    = @resource.title
              .resource_meta
                - unless @resourcetype == "resume"
                  = "From #{@resource.author} / #{@resource.created_at.strftime("%m-%d-%y")}"
                - else
                  = "From #{@resource.name} / #{@resource.created_at.strftime("%m-%d-%y")}"
              .resource_save
                = link_to "save a memo", "#", :class => "saveMemoLink", 'data-resource_type' => @resourcetype, 'data-resource_id' => @resource.id
              .resource_content
                - unless @resourcetype == "resume"
                  - if @resourcetype == "news_site"
                    = link_to "link to resource", @resource.website
                    %nr
                  = @resource.content.blank? ? "" : @resource.content.html_safe
                - else
                  = link_to "link to resume", @resource.resume_document.url
                  %br
                  = @resource.cover_letter.blank? ? "" : @resource.cover_letter.html_safe
          .related_resources
            .panel
              .heading
                %h2
                  Related Funding & Grants
              %ul.unstyled
                - @related.each do |r|
                  %li
                    - if @resourcetype == "article"
                      = link_to r.title, "#", 'data-resource_type' => @resourcetype, 'data-resource_id' => r.id, :class => "resource_link"
                      .info
                        = word_truncate(r.content, :words => 10).html_safe
                    - elsif @resourcetype == "resume"
                      = link_to r.name, "#", 'data-resource_type' => @resourcetype, 'data-resource_id' => r.id, :class => "resource_link"
                      .info
                        = word_truncate(r.cover_letter, :words => 10).html_safe
                    - else
                      = link_to r.name, "#", 'data-resource_type' => @resourcetype, 'data-resource_id' => r.id, :class => "resource_link"
                      .info
                        = word_truncate(r.description, :words => 10).html_safe
      .resource_selections_events_and_updates.col
        .provider_database.select_database
          .panel
            .dropdown_panel.dropdown_panel-right
              %h2
                %a{:href => "#", :data => {:toggle => "provider_resource_list", :html => "Provider Database", :form_toggle => "add_provider"}}
                  Provider Database
        .resume_database.select_database
          .panel
            .dropdown_panel.dropdown_panel-right
              %h2
                %a{:href => "#", :data => {:toggle => "resume_resource_list", :html => "Resume Database", :form_toggle => "add_resume"}}
                  Resume Database
        .grants_database.select_database
          .panel
            .dropdown_panel.dropdown_panel-right
              %h2
                %a{:href => "#", :data => {:toggle => "grants_resource_list", :html => "Funding & Grants"}}
                  Funding & Grants
        .contact_database.select_database
          .panel
            .dropdown_panel.dropdown_panel-right
              %h2
                %a{:href => "#", :data => {:toggle => "contact_resource_list", :html => "Tool Database", :form_toggle => "add_contact"}}
                  Tool Database
        .news_database.select_database
          .panel
            .dropdown_panel.dropdown_panel-right
              %h2
                %a{:href => "#", :data => {:toggle => "news_resource_list", :html => "News Database", :form_toggle => "add_news_site"}}
                  News Database
        
        .events
          .panel
            %h2
              Upcoming
            .cal_link
              = link_to "full calendar &raquo;".html_safe, administration_calendar_path, :class => "more"
            .events_key
              %ul.unstyled
                %li.acre_events
                  .circle
                    %a{:href => "#", :data => {:event_type => "event"}}
                  .key
                    ACRE events
                %li.funding_and_grants
                  .circle
                    %a{:href => "#", :data => {:event_type => "grant"}}
                  .key
                    Funding & Grants
                %li.your_calendar
                  .circle
                    %a{:href => "#", :data => {:event_type => "google"}}
                  .key
                    Your Calendar
            .events_list
              - if @token.blank?
                = link_to "Authorize Google Calendar", "/auth/google_oauth2"
              %ul.unstyled
                - @uevents.each do |e|
                  %li{:class => "#{e.origin} #{e.saved?(@user) ? "saved" : ""}"}
                    .event_type
                    .event_link
                      - if e.origin == "event"
                        = link_to word_truncate(e.name, :words => 5).html_safe, "/events/#{e.id}", 'data-event-id' => e.id
                      - elsif e.origin == "grant"
                        = link_to word_truncate(e.name, :words => 5).html_safe, "/grants/#{e.id}", 'data-event-id' => e.id
                      - else
                        = link_to word_truncate(e.name, :words => 5).html_safe, "/event/#{e.id}", 'data-event-id' => e.id
                    .event_times
                      = e.event_start.strftime("%m-%d-%y")
                      \/
                      = e.event_start.strftime("%l:%M%p")
                      \-
                      = e.event_end.strftime("%l:%M%p")
              
        .updates
          .panel
            %h2
              Internal Updates
            %ul.unstyled.fbfeed
              - @feed.each do |f|
                %li
                  .feed_story
                    = f["message"].html_safe unless f["message"].blank?
                    = f["name"].html_safe unless f["name"].blank?
                    = f["link"].html_safe unless f["link"].blank?
                  .feed_time
                    \-
                    = time_ago_in_words(f["created_time"])
                    ago via Facebook
            = link_to "more updates &raquo;".html_safe, "https://www.facebook.com/groups/116539501741873/", :target => "_blank", :class => "more"
