<%= render :partial => "layouts/cms_header" %>
<div class="content">
<h1>Listing news sites</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Web site</th>
    <th>Author</th>
    <th>Specialty</th>
    <th>Description</th>
    <th>Content</th>
    <th>Category</th>
    <th>Related tenants</th>
    <th>Sector</th>
    <th>Tags</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news_sites.each do |news_site| %>
  <tr>
    <td><%= news_site.name %></td>
    <td><%= news_site.website %></td>
    <td><%= news_site.author %></td>
    <td><%= news_site.specialty %></td>
    <td><%= news_site.description.blank? ? "" : truncate(strip_tags(news_site.description), :length => 100).html_safe %></td>
    <td><%= news_site.content.blank? ? "" : truncate(strip_tags(news_site.content), :length => 100).html_safe %></td>
    <td><%= news_site.category %></td>
    <td><%= news_site.tenant %></td>
    <td><%= news_site.sector %></td>
    <td><%= news_site.tag %></td>
    <td><%= news_site.publish %></td>
    <td><%= link_to 'Show', news_site %></td>
    <td><%= link_to 'Edit', edit_news_site_path(news_site) %></td>
    <td><%= link_to 'Destroy', news_site, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '<i class="icon-pencil"></i> New news site'.html_safe, new_news_site_path, :class => "btn btn-mini" %>
</div>