<h1>Listing tool_specialty_options</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tool_specialty_options.each do |tool_specialty_option| %>
  <tr>
    <td><%= tool_specialty_option.name %></td>
    <td><%= tool_specialty_option.value %></td>
    <td><%= link_to 'Show', tool_specialty_option %></td>
    <td><%= link_to 'Edit', edit_tool_specialty_option_path(tool_specialty_option) %></td>
    <td><%= link_to 'Destroy', tool_specialty_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tool specialty option', new_tool_specialty_option_path %>
