<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @news_site_specialty_option.name %>
</p>

<p>
  <b>Value:</b>
  <%= @news_site_specialty_option.value %>
</p>


<%= link_to 'Edit', edit_news_site_specialty_option_path(@news_site_specialty_option) %> |
<%= link_to 'Back', news_site_specialty_options_path %>
