%li
  .news_headline
    %h3
      = r.title
  .news_subheading
    = r.subheading
  .news_excerpt
    = smart_truncate(r.category == "newsletter" ? "<p>#{r.subheading}</p>" : r.content, "/news/#{URI.encode(r.title)}", :words => 40).html_safe